body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background:  #ededed;
  min-width: 455px;
}

svg.loading-spinner {
  display: block;
  padding-top: 10%;
  margin: 0 auto;
}

h1.loading-spinner {
  text-align: center;
  color: #333;
}
